body {
    background-color: white !important;
    color: black;
}
.nicebutton0{
	position: 	relative;
	float:	  	left;
	margin-top:	20px;
	margin-left:	10px;
	width:		140px;
	height:		30px;
	font-size:	18px;
	border-width:	2px;
	border-color:	darkred;
	border-style:	solid;
	border-radius:	10px;
	background: 	#008ecc;
	text-align:	center;
	color:		black;
	font-weight: 	bolder;
}
#tec-cv {
	text-align: 	left;
}
#economicsapp {
	display:	none;
	text-align: 	left;
}
#physicsapp {
	display:	none;
	text-align: 	left;
}
.header {
    padding: 15px;
    background: #ffffff; 
    background: -moz-linear-gradient(top, #ffffff 0%, #008ecc 50%, #ffffff 100%); 
    background: -webkit-linear-gradient(top, #ffffff 0%, #008ecc 50%, #ffffff 100%); 
    background: linear-gradient(to bottom, #ffffff 0%,  #008ecc 50%, #ffffff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
    min-height:	100px;
    border-radius:	8px;
}

.nav li {
    margin-left: 10px !important;
}
#logo, #advertisers img {
    width: 100%;
}
#coin {
    width: 175px;
}
#header-info {
    color: #ffffff;
}

#content-body {
    background-color: #dddddd;
    min-height: 250px;
    margin-top: -50px;
}
#main-body {
    background: #ffffff; 
    background: -moz-linear-gradient(top, #f1cb53 0%, #f1cb53 25%, #cbf153 90%, #ffffff 100%); 
    background: -webkit-linear-gradient(top, #f1cb53 0%,#f1cb53 25%,#cbf153 90%, #ffffff 100%); 
    background: linear-gradient(to bottom, #f1cb53 0%,#f1cb53 25%,#cbf153 90%, #ffffff 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9ab22',GradientType=0 );
    color:		black;
    min-height: 	350px;
    text-align:		left;
}
@media only screen and (max-width: 990px) {
    #content-body {
        margin-top: unset !important;
    }
}

.span-header {
    font-weight: bold;
    font-size: 14pt;
}
.span-bold {
    font-weight: bold;
}
.span-color-white {
    color: #fff;
}

#theprimary {
	position:	relative;
	left:		-25px;
}

